
@{
    ViewBag.Title = "Invoice";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Your Current Invoice for: March</h2>

<p><span class="glyphicon glyphicon-exclamation-sign"></span> March: $20.00</p>

<p>To Pay: Please submit a check (or call for credit options) to:</p>
<p>333 N Plankinton Ave</p>
<p>Milwaukee, WI 53203</p><br />


<p>PayPal coming soon!</p>


