
@{
    ViewBag.Title = "Schedule";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Current pick-up schedule</h2>

@*<div class="form-group">
    @Html.LabelFor(m => m.Day, new { @class = "col-md-2 control-label" })
    <div class="col-md-10">
        @Html.EnumDropDownListFor(m => m.Day., new { @class = "form-control" })
    </div>
</div>*@