@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to Trash Collector!</h1>
    <p class="lead">Serving residential customers in the greater Milwaukee area since 2017!</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Mission Statement</h2>
        <p>To work on keeping garbage off the streets and out of animals stomachs to keep our city beautiful and work towards sustainability!</p>
    </div>
    <div class="col-md-4">
        <h2>Join the fun!</h2>
        <p>Interested in working with us! Be sure to check out our current openings! We offer great benefits and outstanding work/life balance!</p>
    </div>
    <div class="col-md-4">
        <h2>Spread the word!</h2>
        <p>Tell your friends to join! By referring them to our service, be entered for a chance to win a golden recycle bin! Restrictions apply, email for details.</p>
    </div>
    @*<div class="form-group">
        @Html.LabelFor(m => m.ZipCode, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.ZipCode, new { @class = "form-control" })
        </div>
    </div>*@
</div>

