@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>We provide the trash and recylce bins for you!</p>
<p>Schedule which day works best for you!!</p>
<p>Adjust your schedule as needed</p>

<h1>Pay with PayPal!</h1>
<p>Prices vary based on frequency of pick-up</p>
