@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>We provide the trash and recylce bins for you!</p><br />
<p>Schedule which day works best for you!!</p>
<p>Adjust your schedule as needed</p>

<h1>PayPal coming soon!</h1>
<p>$10 for each pick-up!</p><br />

<p>Lowest price in town!</p>
