@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Trash Dash, LLC.<br />
    Milwaukee, WI 53223<br />
    <abbr title="Phone">P:</abbr>
    414-555-5555
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Human Resources:</strong> <a href="mailto:Marketing@example.com">HR@example.com</a>
</address>