@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>*@

<h1>Want to make some extra cash?</h1>
<p>Trash Dash is an awesome, flexible way to make extra cash while keeping the streets free of trash!</p>
<p>Positions available:</p>
<p>Disposable Commuter/TrashDash Driver 53209</p>
<p>Recycling Goods Sorting Engineer</p>

<p>Questions? Feedback? Job Searching? Contact Info Below!</p>

<address>
    Trash Dash, LLC.<br />
    Milwaukee, WI 53223<br />
    <abbr title="Phone">P:</abbr>
    414-555-5555
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Human Resources:</strong> <a href="mailto:Marketing@example.com">HR@example.com</a>
</address>