@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h1>Trash Dash</h1>
    <p>Innovative trash and recycling collection company offering flexible scheduling and ease of set-up</p>
</div>

<div class="row">
    <div class="col-md-4">
        <span class="glyphicon glyphicon-refresh" style="text-align: center"></span>
        <h2>Getting started</h2>
        <p>Annoyed by storing smelly trash until garbage day?</p>
        <p>The area you live does not handle recyclables?</p>
        <p>Go to 'register' at the top right to enter your information to ensure we can help you!</p>
    </div>
    <div class="col-md-4">
        <span class="glyphicon glyphicon-trash" style="text-align: center"></span>
        <h2>Mission Statement</h2>
        <p>To work on keeping garbage off the streets and out of animals stomachs, to keep our city beautiful and work towards sustainability!</p>
    </div>
    <div class="col-md-4">
        <span class="glyphicon glyphicon-ban-circle" style="text-align: center"></span>
        <h2>Out-of-range?</h2>
        <p>If your zip code is beyond our service range, be sure to complete your registration so we can let you know when we reach your area!</p>
</div>
</div>