@model IEnumerable<TrashCollectorPro.Models.Addresses>
@{
    ViewBag.Title = "Schedule";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Pick-ups for today!</h2>
<!DOCTYPE html>
<html>
<head>
    <style>
        #map {
            height: 400px;
            width: 60%;
        }
    </style>
</head>
<body>
    <div id="map"></div>
    <script>
        //function initMap() {
        //    var base = { lat: 43.034134, lng: -87.911953 };
        //    var map = new google.maps.Map(document.getElementById('map'), {
        //        zoom: 12,
        //        center: base
        //    });
        //    var marker = new google.maps.Marker({
        //        position: base,
        //        title: 'Home Base',
        //        map: map
        //    });
        //    marker.setMap(map);
        //}
        ////function startFrom() {
        ////    var employeeStart = {};
        ////    var marker = new google.maps.Marker({
        ////        position: employeeStart,
        ////        title: 'Start',
        ////        map: map
        ////    });
        ////    marker.setMap(map);
        ////}

        //var employeeAddress = [1];
        //var map = new google.maps.Map(document.getElementById('map'), {
        //    zoom: 14,
        //    center: { lat: 43.034134, lng: -87.911953 }
        //});

        function initMap() {
            var base = { lat: 43.034134, lng: -87.911953 };
            map = new google.maps.Map(document.getElementById('map'), {
                zoom: 12,
                center: base
            });
            var marker = new google.maps.Marker({
                position: base,
                title: 'Home Base: End your route here',
                map: map
            })
            marker.setMap(map);
            fullRoute();
            connectRoute();
        }

        var map;

        function fullRoute() {
                convertToLatLng();
        }

        function dropMarker(latlng) {
            var marker = new google.maps.Marker({
                position: latlng, 
                map: map
            });
            //map: map
            //marker.position(latlng)
            marker.setMap(map);
        }

        function connectRoute() {
            var flightPath = new google.maps.Polygon({
                strokeColor: "#009900",
                strokeOpacity: 1.0,
                strokeWeight: 2
                });
        }

        function convertToLatLng() {
            var geocoder = new google.maps.Geocoder();
            var addresses = @Html.Raw(Json.Encode(Model));
            for(var i = 0; i < addresses.length; i++)
            {
                geocoder.geocode({ 'address': addresses[i].Street + addresses[i].City + addresses[i].State + addresses[i].ZipCode }, function (results, status) {
                    if(status == google.maps.GeocoderStatus.OK)
                    {
                        var lat = results[0].geometry.location.lat();
                        var lng = results[0].geometry.location.lng();
                        var latlng = {lat: lat, lng: lng};
                        //var latlng = lat.toString() + ", " + lng.toString();
                            //'results': results[0].geometry.location.lat() + results[0].geometry.location.lng()}
                            //'results': parseFloat(results[0].geometry.location.lat() + results[0].geometry.location.lng())}
                        //'results': results[0].geometry.location.lat()}

                        //var latlng = {'results' : results[0].geometry.location.lat().concat.geometry.location.lng()}
                        dropMarker(latlng);
                    }
                })
            }
        }



    </script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA3dFT5gor1bg311IQrGWR7hTse_Vjnhvw&callback=initMap">
    </script>
</body>
</html>
