@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome!</h1>
    @*<img src="walle3.JPG" style="width: 30%" alt="Walle and Eve" />*@
    <p class="lead">Serving residential customers in the greater Milwaukee area since 2017!</p>
    <p>Reminder to check your phone each morning by 7:00am for the most up-to-date route for pick-ups!</p>
</div>

<div class="row">
    <div class="col-md-4">
        <span class="glyphicon glyphicon-trash" style="text-align: center"></span>
        <h2>Mission Statement</h2>
        <p>To work on keeping garbage off the streets and out of animals stomachs, to keep our city beautiful and work towards sustainability!</p>
    </div>
    <div class="col-md-4">
        <span class="glyphicon glyphicon-blackboard" style="text-align: center"></span>
        <h2>Upcoming Employee Events!</h2>
        <p>Brews and News- Join us on March 31st at 5:00pm for beers and our town hall!</p>
    </div>
    <div class="col-md-4">
        <span class="glyphicon glyphicon-flash" style="text-align: center"></span>
        <h2>Sweepstakes</h2>
        <p>Reminder! Enter your name in the drawing for a $50 gas card! Drawing during Brews and News!</p>
    </div>
    @*<div class="form-group">
            @Html.LabelFor(m => m.ZipCode, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.ZipCode, new { @class = "form-control" })
            </div>
        </div>*@
</div>


